# Block access to hidden files like .env
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

Options +FollowSymLinks -MultiViews
Require all granted

RewriteEngine On
RewriteBase /

# Custom 404 Error Page
ErrorDocument 404 /404.php

